<template name="form">
    <form class="add-new-post">
        <input type="file"/>
        <button>Submit</button>
    </form>
</template>

<template name="posts">
    <div class="grid">
        <div class="grid-sizer"></div>
        {{#each postList}}
            <div class="grid-item">
                {{updateMasonry}}
                <img src="{{this.url}}"/>
            </div>
        {{/each}}
    </div>

</template>